{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1> Bienvenue dans le quizz impossible</h1>
        </div>
        <div class='categorie d-flex justify-content-center '>
            <ul class="list-group  ">
    {% for categorie in categories %}
                <li class="list-group-item " aria-current="true"><button type="button" class="btn btn-outline-secondary">{{ categorie.name }}</button></li>
    {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}